//GLOBAL
$main-font-size: 14px;
$main-font-family:'Lato', sans-serif;

//GRID
$max-page-width: 1200px;
$columns-on-grid: 12;
$gutter: 0.9rem;
$grid-spacing: 1%;
$mobile-max-width: 640px;
$tablet-min-width: 641px;
$tablet-max-width: 980px;
$deskop-min-width: 981px;
